/* GENERAL */

* {
    margin: 0;
    padding: 0;
}



/* HEADER */

header { 
    background: #48546C;
    display: flex;
}

header #logo {
    width: 75px;
}

header nav ul {
    display: flex;
    list-style: none;
}



