/* FOOTER */

footer {
    background-color: #48546C;
    color: #fff;
}

footer h2 {
	font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

/* ELEMS DES DIVS */

footer div {
    text-align: center;
    padding: 0 0 20px 0;
}

footer div p {
    text-align: center;
    margin-bottom: 20px;
}

/* HR */

footer hr {
    position: relative;
    top: 25px;
    width: 95%;
    margin: 0 auto 20px auto;
}

#soutenezNous hr {
    position: relative;
    top: 10px;
}

/* IMAGES */

footer #suivezNous img {
    width: 50px;
    margin: 5px;
}

/* BOUTONS */

.bouttonSoutien {
    color: black;
    text-decoration: none;
    background-color: #F5F2F2;
    border: solid black 1px;
    border-radius: 3px;
    padding: 10px;
}

.bouttonSoutien:hover {
    background-color: #777 ;
    color: #fff;
    border-color: #fff;
}