header .align-self-start {
    margin: 10px 0;
}

                                                    /* HEADER */

header {
    background-color: #48546C;
    color: white;
    position: relative;
}

header h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

                                /* MENU */

/* HR*/ 
.separateur {
    margin-left: 30px;
}

header .hr_menu {
    width: 60%;
    color: #7E7E7E;
    margin: 0;
}

/* MENU SUR PC CENTRE */
#nav_pc {
    position: relative;
    left: 4%;
}

header nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
}

header nav ul li {
    margin: 0;
    padding: 1px;
}

/* BORDURE SUR LE COTE */ 
header nav ul li:after {
  content : "";
  position: absolute;
  right    : 0;
  top  : 25%;
  width  : 1px;
  height   : 50%;  
  background: #7E7E7E;
}

header nav ul li:last-child:after {
  content : "";
  position: absolute;
  right    : 0;
  top  : 25%;
  width  : 0px;
  height   : 0%;  
  background: red;
}

header nav ul li a {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 50px;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: #F5F2F2;
}

                                                    /* IMAGES */

/* IMG LOGO */

header .logo{
    height: 80px;
    width: 80px;
}

/* MENU SUR TEL/IPAD */

header .nav-tel {
    margin-top: 20px;
}

/* ICONS */

header i {
    color: white;
}