                                                    /* HEADER */

header {
    background-color: #48546C;
    color: white;
}

header h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0 10px;
    padding: 15px 0;
}

.fa {
    font-size: 25px !important;
}

                                /* MENU */

/* HR*/ 
.separateur {
    margin-left: 30px;
}

header .hr_menu {
    width: 60%;
    color: #7E7E7E;
    margin: 0;
}

/* MENU SUR PC CENTRE */
#nav_pc {
    position: absolute;
    right: 10px;
}

/* MENU UL & LI... */
header nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
}

header nav ul li {
    margin: 0 5px;
    padding: 2px 5px;
    line-height: 50px;
}

header nav ul li a {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 0.9em;
    line-height: 50px;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: #F5F2F2;
}

/* MENU SUR TEL/IPAD */
header #nav-tel {
    position: absolute;
    right: 10px;
    top: 10px;
}

header navbar-toggler-icon {
    font-size: 100px;
}

                                                    /* IMAGES */

/* IMG LOGO */

header .logo{
    height: 60px;
    width: 60px;
    margin: 5px;
}

/* ICONS */

header i {
    color: white;
}