/* HEADER */

header {
    padding: 5px;
    background-color: #48546C;
    height: 80px;
    color: white;
    position: relative;
}

header h1 {
    color: white;
    text-align: center;
}

header #logo{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 5px;
    left: 75px;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
}

header nav ul li {
    padding-right: 20px;
    padding-left: 20px;
}

header nav ul li a {
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 50px;
}

header nav ul li a:hover {
    text-decoration: underline;
}