/* GENERAL */

* {
    font-family:'Ubuntu', cursive;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F2F2;
/*    color: #F5F2F2;*/
}

strong {
    font-weight: normal;
}

.btn-2 {
    background: yellow;
    padding: 5px 15px;
    text-decoration: none;
    color: black;
    margin: 20px 0;
    display: inline-block;
}

.row {
    /* Sinon pblm: scroll horizontal */
    margin: 0;
}



/* ---#--- INDEX ---#--- */

/* NOTRE SELECTION */
#selection {
    background-image: url('../images/dragonsbaballes.png') no-repeats;
    background-size: 100%;
}

/* DERNIERES SORTIES */
#sorties {
    text-align: center;
    background: #d3d3d3;
    border-bottom: #DDDDDD 1px solid;
    border-top: #DDDDDD 1px solid;
}

#selectionSorties {
    display: flex;
}

.bloc_sorties {
    max-width: 200px;
    padding: 10px;
    margin: 0 20px;
/*    border: 1px solid black;*/
}

.bloc_sorties img {
    display: block;
    margin: 0 auto;
}


/* GOODIES */
#derives {
    text-align: center;
}

#derives h2 {
    font-size: 1.5em;
}

#derives h3{
    font-size: 1.25em;
}

.bloc_derives {
/*    max-width: 350px;*/
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid black;
}

.bloc_derives img {
    border: 1px solid black;
    max-height: 175px;
    display: block;
    margin: 0 auto;
}

#msgDerives {
    border: none;
}

/* RESPONSIVE */
@media screen and (min-width: 990px) and (max-width: 1039px) {
    #selectionSorties > .bloc_sorties:nth-child(4) {
        display:none !important;
    }
}

@media screen and (min-width: 767px) and (max-width: 797px) {
    #selectionSorties > .bloc_sorties:nth-child(3) {
        display:none !important;
    }
}



/* ---#--- MANGA.PHP ---#--- */

#manga_recherche {
    margin: 0;  
    padding: 0;
}

        /* RECHERCHE */
#recherche {
    background: #eee;
    padding: 5px;
}

#recherche ul {
    list-style: none;
}

#recherche h2 {
    font-size: 21px;
    text-align: center;
    display: inline-block;
}

#recherche fieldset {
    margin-left: 17px;
}

/* MENU DEROULANT */
#filtres fieldset{
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media screen and (min-width: 400px) and (max-width: 580px) {
    #filtres fieldset{
        width: calc(100% / 3);
    }
}

@media screen and (min-width: 1px) and (max-width: 400px) {
    #filtres fieldset{
        width: calc(100% / 2);
    }
}

#recherche button {
    display: block;
    margin: 0 auto;
}

#recherche .collapse.show {
    display: flex;
}


        /* MANGAS */
#mangas {
    background: #F5F5F2;
    margin: 0;
    padding: 0;
    text-align: center;
}

#mangas img {
    padding: 5px;
    width: 143px;
    height: 212px;
}

#mangas .unManga {
    background: #eee;
    display: inline-block;
    margin: 10px 0;
    max-width: 153px;
}

.unManga .prix {
    font-size: 13px;
    color: #555;
}

#mangas > div {
    min-width: 153px;
}

/* SELECTION PAGE */
#selection_page {
    display: block;
    margin: 20px auto;
    width: 100%;
}

#selection_page p {
    display: inline;
    position: relative;
    bottom: 3px;
    padding: 7px 10px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

#selection_page > div {
    border: 4px solid #ccc;
    display: inline;
    padding: 7px 7px 4px 7px;
    border-radius: 5px;
}

#selection_page i {
    padding: 0 14px 0 7px;
}

#selection_page i:last-child {
    padding: 0 7px 0 14px;
}





